/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #1e5631;
	--accent-light: #1c8425;
	--background: rgb(243, 233, 208);
	--card-darker: #e3d3be
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Roboto', serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
	background-color: var(--background);
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
	background-color: var(--background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1em;
	/*font-size: 1.563em; old*/
}
h5 {
	font-size: 0.825em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
/* MINE --------------------- MINE-----------------------*/


.post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-grid li {
  flex: 1 1 calc(33% - 2rem);
  min-width: 200px;
}

.post-grid img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.post-grid .date {
  font-size: 0.7em;
  color: #666;
  margin-top: auto;
}

.latest-articles {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 80%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.centerer{
	width: 100%;
}

.latest-articles-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 10px 0px;
}

.latest-articles-box a{
	text-decoration: none;
	display: flex;
	flex-direction: column;
	min-height: 205px;
}

.latest-articles-box h5 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-clamp: 2;
}

.latest-articles-box p{
	margin-bottom: 0.5em;
}

.pick-img {
	width: 100%;
	max-height: 150px;
	object-fit: cover;
	border-radius: 5px;
}

.pick-card{
	height: 150px !important;
	background-color: var(--background);
}

.logo-img{
	height: 40px;
	max-width: 220px;
	content: url("/src/assets/Logo.png");
}

.logo-link{
	border-bottom: 0px solid transparent !important;
	padding: 5px !important;
}

@media (max-width: 720px) {
	.logo-img {
		content: url("/src/assets/Logo-small.png");
		max-width: 40px;
	}

	.reviews-news{
		flex-direction: column;
	}

	.editors-pick{
		flex-direction: column;
	}

	.pick-grid{
		flex-direction: column;
	}

	.pick-card{
		max-height: 200px;
	}

	.pick-img{
		max-height: 200px;
		object-fit: cover;
	}

	.tag-container{
		justify-content: center;
		margin-bottom: 0.5em;
	}

	ul li:first-child .tag-container .tag {
		font-size: 0.8em;
	}

	ul li:last-child{
		display: list-item !important;
	}

	.latest-articles-box li{
	min-width: 120px;
	}
	
	.latest-articles-box a{
		min-height: 130px;
	}

	.section-cta {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.reviews-news {
	width: 80%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

.editors-pick{
	width: 80%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

.tag-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 0.2em;
	margin-top: -0.5em; /* THIS AFFECTS ALL OF THE POSTS */
	flex-wrap: wrap;
	row-gap: 0.2em;
}

.tag{
	background-color: var(--accent);
	color: white;
	padding: 0.002em 0.3em;
	border-radius: 5px;
	margin-right: 0.5em;
	text-decoration: none;
	font-size: 0.8em;
}

.tag:hover{
	color: white;
	background-color: #1c8425;
	text-decoration: underline;

}

ul li:first-child .tag-container {
	justify-content: center;
}

ul li:first-child .tag {
	font-size: 1em;
}

ul li:last-child{
	display: none;
}

.review-card{
	background-color: #f2ebe0;
	border-color: #666;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.5em;
	padding: 0.35em;
}
.review-card img{
	width: 80px;
	height: auto;
	object-fit: cover;
	border-radius: 5px;
	margin-right: 0.5em;
}

.review-card h3 {
	font-size: 0.85em;
	margin: 0;
}

.review-link {
	text-decoration: none;
	color: black
}

.tag-title {
	display: flex;
	flex-direction: column;
	margin: 0 0.2em;
	align-items: flex-start;
}

.tag-title .tag-container{
	margin-top: 0px;
}

.news-card{
	background-color: #f2ebe0;
	border-color: #666;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.5em;
	padding: 0.35em;
}
.news-card img{
	min-width: 70px;
	max-width: 100px;
	width: 10vw;
	height: auto;
	object-fit: cover;
	border-radius: 5px;
	margin-right: 0.5em;
}

.news-card h3 {
	font-size: 0.85em;
	margin: 0;
}

.news-link {
	text-decoration: none;
	color: black
}

.tag-title h3 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-clamp: 2;
}

.section-cta {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.cta{
	background-color: var(--accent);
	color: beige;
	padding: 0.1em 0.2em;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

.section-cta h2 {
	margin: 0;
}

.section-cta a:hover {
	background-color: #1c8425;
	color: beige;
	text-decoration: underline;
}